<div class="container" ng-controller="MyProductsController">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Make - Model</th>
          <th scope="col">Year</th>
          <th scope="col">Price</th>
          <th scope="col">Mileage</th>
          <th scope="col">Fuel Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products">
          <td><img style="height: 5rem;" class="img-fluid img-thumbnail" src="static/img/ads/1/1.jpg"></td>
          <td>[[ product.make ]] - [[ product.model ]]</td>
          <td>[[ product.year ]]</td>
          <td>[[ product.price.toLocaleString() ]]e</td>
          <td>[[ product.km.toLocaleString() ]] km</td>
          <td>[[ product.fuel_type ]]</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete([[product.id]])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>