<div class="container" ng-controller="MainController">
  <div class="row">
    <div class="col-6">
      <div class="form-row">
        <div class="form-group col-6">
          <select class="custom-select form-control-sm" ng-model="searchData.make" required>
            <option value="">All makes</option>
            <option ng-repeat="make in makes" value="[[ make.id ]]">[[ make.make ]]</option>
          </select>
        </div>
        <div class="form-group col-6">
          <select class="custom-select form-control-sm" ng-model="searchData.model" ng-disabled="!searchData.make" required>
            <option value="">All models</option>
            <option ng-repeat="model in models | filter: { make_id: searchData.make }" value="[[ model.id ]]">[[ model.model ]]</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <input type="number" class="form-control form-control-sm"ng-model="searchData.priceFrom" min="0" placeholder="Price from" required>
        </div>
        <div class="form-group col-6">
          <input type="number" class="form-control form-control-sm" ng-model="searchData.priceTo" min="0" placeholder="Price to" required>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-row">
        <div class="form-group col-6">
          <select class="custom-select form-control-sm" ng-model="searchData.fuelType" required>
            <option value="">All fuel types</option>
            <option value="Diesel">Diesel</option>
            <option value="Gasoline">Gasoline</option>
            <option value="LPG">LPG</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group col-6">
          <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="search()">Search</button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <select class="custom-select form-control-sm" ng-model="searchData.sortBy" ng-change="sortChanged()" required>
            <option value="id-desc">Created (desc)</option>
            <option value="id-asc">Created (asc)</option>
            <option value="price-desc">Price (desc)</option>
            <option value="price-asc">Price (asc)</option>
            <option value="year-desc">Year (desc)</option>
            <option value="year-asc">Year (asc)</option>
          </select>
        </div>
        <div class="form-group col-6">
          <button type="button" class="btn btn-warning btn-sm btn-block" ng-click="clearResults()">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-warning w-100" role="alert" ng-if="!cars.length">
      There are no cars to show!
    </div>

    <carcard class="w-25 p-2 col-lg-3 col-md-4 col-sm-6 col-12" ng-repeat="car in cars" car="car"></carcard>
  </div>
</div>