<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto oglasi</title>
</head>
<body>
    <div ng-app="app">
        <div ng-controller="HelloController">
            <h1>[[ message ]]</h1>
        </div>
    </div>
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/client/app.js"></script>
</body>
</html>