body {
  padding-top: 5rem;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.card .img-holder {
  position: relative;
  padding-top: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-inner {
  padding-top: 75%;
  background: #e4e4e4;
  border: 1px solid;
}

.carousel-item {
  top: 0;
}

.carousel img {
  object-fit: contain;
}