<div class="container" ng-controller="AddCarController">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form ng-submit="create()">
        <div class="form-row">
          <div class="form-group col-sm-6 col-12">
            <label for="make">Make</label>
            <select class="custom-select" id="make" ng-model="data.make" required>
                <option value="">Select car make</option>
                <option ng-repeat="make in makes" value="[[ make.id ]]">[[ make.make ]]</option>
              </select>
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="model">Model</label>
            <select class="custom-select" id="model" ng-model="data.model" ng-disabled="!data.make" required>
              <option value="">Select car model</option>
              <option ng-repeat="model in models | filter: { make_id: data.make }" value="[[ model.id ]]">[[ model.model ]]</option>            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="number" class="form-control" id="year" ng-model="data.year" min="0" placeholder="Enter year of manufacture" required>
        </div>
        <div class="form-group">
          <label for="mileage">Mileage</label>
          <div class="input-group">
            <input type="number" class="form-control" id="mileage" ng-model="data.mileage" min="0" placeholder="Enter mileage" required>
            <div class="input-group-append">
              <span class="input-group-text">km</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-12">
            <label for="price">Price</label>
            <div class="input-group">
              <input type="number" class="form-control" id="price" ng-model="data.price" min="0" placeholder="Enter price" required>
              <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="condition">Condition</label>
            <select class="custom-select" id="condition" ng-model="data.condition" required>
              <option value="">Select car condition</option>
              <option value="New">New</option>
              <option value="Used">Used</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-12">
            <label for="displacement">Displacement</label>
            <div class="input-group">
              <input type="number" class="form-control" id="displacement" ng-model="data.displacement" min="0" placeholder="Enter engine displacement" required>
              <div class="input-group-append">
                <span class="input-group-text">ccm<sup>3</sup></span>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="fuel_type">Fuel type</label>
            <select class="custom-select" id="fuel_type" ng-model="data.fuel_type" required>
              <option value="">Select fuel type</option>
              <option value="Diesel">Diesel</option>
              <option value="Gasoline">Gasoline</option>
              <option value="LPG">LPG</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-12">
            <label for="kw">kW</label>
            <div class="input-group">
              <input type="number" class="form-control" id="kw" ng-model="data.kw" min="0" placeholder="Enter kW" required>
              <div class="input-group-append">
                <span class="input-group-text">kw</span>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="kw">hp</label>
            <div class="input-group">
              <input type="number" class="form-control" id="hp" ng-model="data.hp" min="0" placeholder="Enter hp" required>
              <div class="input-group-append">
                <span class="input-group-text">hp</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" ng-model="data.description" rows="3" placeholder="Enter car description" required></textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-5 col-sm-5">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" ng-model="data.address" placeholder="Enter address" required>
          </div>
          <div class="form-group col-7 col-sm-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" ng-model="data.city" placeholder="Enter city" required>
          </div>
          <div class="form-group col-12 col-sm-4">
            <label for="phone-number">Phone number</label>
            <input type="text" class="form-control" id="phone-number" ng-model="data.phone" placeholder="Enter phone" required>
          </div>
        </div>
        <div class="form-group">
            <label for="images">Images</label>
            <input type="file" class="form-control-file" id="images" ng-file-model="data.images" accept="image/*" multiple required>
            <div class="mt-3">
                <img ng-repeat="image in data.images" ng-src="[[ image.url ]]" class="img-thumbnail" style="width: 5rem;">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Add car</button>
      </form>
    </div>
  </div>
</div>