<div class="container" ng-controller="MyCarsController">
  <div class="row">
    <div class="alert alert-warning w-100" role="alert" ng-if="!cars.length">
      There are no cars to show!
    </div>

    <table class="table table-responsive-md" ng-if="cars.length">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Make - Model</th>
          <th scope="col">Year</th>
          <th scope="col">Price</th>
          <th scope="col">Mileage</th>
          <th scope="col">Fuel Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="car in cars">
          <td><img style="max-width: 5rem; max-height: 5rem;" class="img-fluid img-thumbnail" ng-src="static/img/cars/[[ car.id ]]/[[ car.image_path ]]"></td>
          <td><a ng-href="/view-car/[[ car.id ]]">[[ car.make ]] - [[ car.model ]]</a></td>
          <td>[[ car.year ]]</td>
          <td>[[ car.price.toLocaleString() ]]€</td>
          <td>[[ car.km.toLocaleString() ]] km</td>
          <td>[[ car.fuel_type ]]</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" navigate="[[ '/car/edit/' + car.id ]]">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete([[car.id]])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>