<div class="card">
  <img class="card-img-top" ng-src="static/img/cars/[[ car.id ]]/[[ car.image_path ]]">
  <div class="card-body">
    <p class="card-text">
      [[ car.make ]] - [[ car.model ]]<br />
      [[ car.year ]].<br />
      [[ car.km.toLocaleString() ]] km
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">[[ car.status ]] - [[ car.price.toLocaleString() ]]€</small>
    <button navigate="[[ '/car/' + car.id ]]" type="button" class="btn btn-info btn-sm float-right">Info</button>
  </div>
</div>